.main-nav {
  background: blue;
  width:100%;
  height:100px;
}

/*the following p-info class was copied from Jane Smith*/
.p-info{
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;  
}

.nav-info{
  background-color: yellow;
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
  color: rgb(169, 169, 169);
  list-style-type: none;  
}

.body-info{
background-color: rgb(169, 169, 169);
}

.title{
  text-align: center;
  color: blue;
  text-transform: uppercase;
}

.background-img{
  width: 100%;
  height: 550px;
}

.profile-img{
  border: solid 4px black;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.text-big{
  text-transform: uppercase;
  color: blue;
  margin-top: 75px;
}

.qualifications{
  padding: 20px;
  width: 50%;
  margin: auto; 
  margin-bottom: 20px;
  margin-top: 50px; 
  background: blue;
  border-bottom: 4px  black;
  border-style: double;
  text-align: center;
}

.qual-list{
 
  background: green;
  color: white;
  display: inline;
  padding: 10px;
  border: 10px;
}

/*the following goals class was assisted from Jane Smith*/

.goals{
  float: left;
  padding: 20px ;
  max-width: 500px;
  height: 170px;
  background: blue;
  padding-right: 50px;
  border-style: double;
  text-align: center;
  justify-content: normal;
  margin-bottom: 50px;
}

.goals-list{
 
  background: green;
  color: white;
  display: inline;
  padding: 5px;
}

.goals-list-2{
 
  background: yellow;
  color: black;
  display: inline;
  padding: 5px;
}

.hobbies{
  float: right;
  padding: 20px;
  max-width: 500px;
  background: blue;
  border-bottom: 4px  black;
  border-style: double;
  text-align: center;
  margin-left: 50px;
}

.list-color{
 
  background: green;
  color: white;
  display: inline;
  padding: 5px;
}

.back{
  margin: auto;
  margin-top: 260px;
  border-style: double;
  width: auto;
  text-align: center;
  background: blue;
  max-width: 500px;

}

.exp{
  margin: auto;
  padding: 20px;
  width: auto;
  background: blue;
  border-bottom: 4px  black;
  border-style: double;
  text-align: center;
  margin-bottom: 50px;
}

.footer-div{
  padding: 10px 0;
  border: 3px ridge green;
  text-align: center;
  list-style-type: none;
  margin-top: 100px;  
}

.footer-list{
  margin-left: auto;
  margin-right: auto;
  list-style-type: none; 
  display: block; 
  width: 50px;
}